<div
  class="hero min-h-screen"
  style="background-image: url(https://img.daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.webp);"
>
  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Aplicación de países</h1>
      <p class="mb-5">
        Bienvenido a la aplicación de paíseses. Aquí puedes encontrar información sobre paíseses y sus capitales.
      </p>
      <button
      routerLink="/country"
      class="btn btn-primary">Get Started</button>
    </div>
  </div>
</div>

